
HTML, BODY { 
    height: 100%; 
    margin: 0;
}

.top-container {
    width: 100%;
    height: 34%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;

}

.expenses {
    border: solid 1px black;
}

.income {
    border: solid 1px black;
}

.cashflow {
    border: solid 1px black;
}

.middle-container {
    width: 100%;
    height: 33%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
}

.bottom-container {
    width: 100%;
    height: 33%;  
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.categoryAmountsList {
    width: 40%;
    height: 80%;
    padding: 5px;
    border: 1px solid black;
}

.categoryList {
    display: flex;
    justify-content: space-around;
}
